# do not forget to clear anything sensitive here before sharing etc

[discord]
bot_token           = "foo"         # discord bot token
guild_id            = 123           # server id

[donationalerts]
widget_token        = "bar"         # donationalerts widget token

# down there are rules for assigning roles based on donation amount
# uncomment and change rules you want to use
# bot checks every rule. if the conditions are met, the specified roles are assigned

# example 1: give role with ID 111111, if donation >= 150 RUB
# [[rules]]
# min_amount = 150.0
# currency = "RUB"
# role_ids = [111111]

# example 2: give role with ID 222222 and 333333, if donation >= 500 RUB
# [[rules]]
# min_amount = 500.0
# currency = "RUB"
# role_ids = [222222, 333333]

# example 3: give role with ID 444444, if donation >= 5 USD (in another currency)
# [[rules]]
# min_amount = 5.0
# currency = "USD"
# role_ids = [444444]

# example 4: give role with ID 555555 for any currency, if amount >= 10.0
# [[rules]]
# min_amount = 10.0
# role_ids = [555555]

# example 5: tier system
# a donation of 1,000 RUB or more grants tier 2 role (ID 888888)
# the tier 1 role (ID 777777) is automatically removed from the user if they had it
# [[rules]]
# min_amount = 1000.0
# currency = "RUB"
# role_ids = [888888]
# exclude_role_ids = [777777]

# note: exclude_role_ids is not a necessary field and you can skip it
